extends layout
include mixins/header
include mixins/expertise
include mixins/experience
include mixins/education
include mixins/addl-experience

block content
  +header
  +experience
  +expertise
  +education
  +addl-experience