mixin education
  #education
    .modules#edu-header
      .modules-left
        | Education
    .modules#edu-body
      div(class='modules-left uml')
        img(src='/images/uml_logo_stacked.jpg' alt='University of Massachusetts - Lowell')
      .modules-right
        | University of Massachusetts-Lowell - 2000
        br
        br
        | <em>Bachelor of Music</em> - Sound Recording Technology
        br
        | <em>Cum Laude</em>
        br
        | <em>President</em> - Audio Engineering Society Student Chapter
