mixin expertise
  .modules#expertise
    .modules-left
      a Expertise
    .modules-right
      .tech PHP
        .progress
          div(class='progress-bar' role='progressbar' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100' style='width: 90%;')
            span 90%
      .tech MySQL
        .progress
          div(class='progress-bar' role='progressbar' aria-valuenow='88' aria-valuemin='0' aria-valuemax='100' style='width: 88%;')
            span 88%
      .tech Linux/LAMP Stack
        .progress
          div(class='progress-bar' role='progressbar' aria-valuenow='85' aria-valuemin='0' aria-valuemax='100' style='width: 85%;')
            span 85%
      .tech HTML5/CSS3
        .progress
          div(class='progress-bar' role='progressbar' aria-valuenow='85' aria-valuemin='0' aria-valuemax='100' style='width: 85%;')
            span 85%
      .tech SCSS/Sass/Less
        .progress
          div(class='progress-bar' role='progressbar' aria-valuenow='85' aria-valuemin='0' aria-valuemax='100' style='width: 85%;')
            span 85%
      .tech Vanilla JavaScript
        .progress
          div(class='progress-bar' role='progressbar' aria-valuenow='85' aria-valuemin='0' aria-valuemax='100' style='width: 85%;')
            span 85%
      .tech JavaScript Frameworks & Libraries (JQuery, Node, VueJS, Angular)
        .progress
          div(class='progress-bar' role='progressbar' aria-valuenow='85' aria-valuemin='0' aria-valuemax='100' style='width: 85%;')
            span 85%
      .tech Amazon Web Services
        .progress
          div(class='progress-bar' role='progressbar' aria-valuenow='84' aria-valuemin='0' aria-valuemax='100' style='width: 84%;')
            span 84%
      .tech Azure
        .progress
          div(class='progress-bar' role='progressbar' aria-valuenow='80' aria-valuemin='0' aria-valuemax='100' style='width: 80%;')
            span 80%